<!DOCTYPE html>
<html>
<head>
  <title>塔スコア計算機 一括計算 - ぷよクエ</title>
  <meta name="description" content="ぷよクエの蒸気と暗闇の塔およびとことんの塔のスコアを計算するツールです。">
  <meta name="keywords" content="ぷよクエ,ぷよぷよ!!クエスト,ツール,蒸気と暗闇の塔,とことんの塔,スコア,計算">
  <script src="https://unpkg.com/vue"></script>
  <script src="./mixins/score-calc.js"></script>
  <script src="./filters/global-filter.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/tower-score.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="header">
        <img src="images/steam_tower_title.png" class="img-fluid" alt="塔スコア計算機">
        <div class="navigation">
          <a href="calc.html" class="btn btn-primary btn-lg active" role="button">詳細計算</a>
          <a href="matrix.html" class="btn btn-secondary btn-lg disabled" role="button">一括計算</a>
        </div>
      </div>
      <div class="score-card">
        <div id="score-board">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">フロアボーナス</span>
            </div>
            <select v-model="inputs.bonus" class="form-control">
              <option value="400">蒸気と暗闇の塔 1F-10F (400%)</option>
              <option value="160">とことんの塔 41F-50F (160%)</option>
              <option value="120">とことんの塔 31F-40F (120%)</option>
              <option value="80">とことんの塔 21F-30F (80%)</option>
              <option value="40">とことんの塔 11F-20F (40%)</option>
              <option value="0">とことんの塔 1F-10F (0%)</option>
            </select>
          </div>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">目標スコア</span>
            </div>
            <select v-model="inputs.target" class="form-control">
              <option value="52000">蒸気と暗闇の塔 (52,000)</option>
              <option value="34000">とことんの塔 (34,000)</option>
              <option value="32000">とことんの塔 (32,000)</option>
              <option value="30000">とことんの塔 (30,000)</option>
              <option value="28000">とことんの塔 (28,000)</option>
              <option value="26000">とことんの塔 (26,000)</option>
              <option value="24000">とことんの塔 (24,000)</option>
              <option value="22000">とことんの塔 (22,000)</option>
              <option value="20000">とことんの塔 (20,000)</option>
              <option value="18000">とことんの塔 (18,000)</option>
              <option value="16000">とことんの塔 (16,000)</option>
              <option value="14000">とことんの塔 (14,000)</option>
              <option value="12000">とことんの塔 (12,000)</option>
              <option value="10000">とことんの塔 (10,000)</option>
              <option value="8000">とことんの塔 (8,000)</option>
              <option value="6000">とことんの塔 (6,000)</option>
            </select>
          </div>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">最高ダメージ</span>
            </div>
            <input class="form-control" v-model="inputs.damage" type="number" step="10000000">
            <input class="form-control-range" v-model="inputs.damage" type="range" min="10000000" max="500000000" step="10000000" tabindex="-1">
          </div>
        </div>
      </div>
    </div>
    <div id="score-matrix" class="score-card">
      <table>
        <tr>
          <th rowspan="2" class="y-header">クリア<br>ターン</th>
          <th colspan="15" class="x-header">最大れんさ</th>
        </tr>
        <tr>
          <th v-for="x in xHeader" class="x-header">{{ x }}</th>
        </tr>
        <tr v-for="(ary, index) in gridData">
          <th class="y-header">{{ yHeader[index] }}</th>
          <td v-for="v in ary">
            <span v-bind:class="{ active: v.isActive }">
              {{ v.value | toLocalString }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      mixins: [scoreCalcMixin],
      data: {
        version: 1,
        inputs: {
          damage: 100000000,
          bonus: 400,
          target: 52000,
        },
        floorBonus: 400,
        chainRange: [5, 17],
        turnRange: [7, 63],
      },
      mounted() {
        let savedData = JSON.parse(localStorage.matrix_data);
        if (savedData && savedData.version == this.version) {
          // TODO: validation
          this.inputs = savedData.inputs;
        }
      },
      watch: {
        inputs: {
          handler(v) {
            // TODO lazy save
            localStorage.matrix_data = JSON.stringify(this.$data);
          },
          deep: true,
        }
      },
      computed: {
        xHeader: function () {
          let r = [];
          for (let x = this.chainRange[0]; x < this.chainRange[1]; x++) {
            r.push(x);
          }
          return r;
        },
        yHeader: function () {
          let r = [];
          for (let y = this.turnRange[0]; y < this.turnRange[1]; y++) {
            r.push(y);
          }
          return r;
        },
        gridData: function () {
          let r = [];
          for (let y = this.turnRange[0]; y < this.turnRange[1]; y++) {
            let rr = []
            for (let x = this.chainRange[0]; x < this.chainRange[1]; x++) {
              let v = this.calcTotalScore(y, this.inputs.damage, x, this.inputs.bonus);
              rr.push({
                value: v,
                isActive: v > this.inputs.target,
              });
            }
            r.push(rr);
          }
          return r;
        },
      },
    })
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137357537-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-137357537-1');
  </script>
</body>
</html>
